html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgba(255, 255, 134, 0.851);
}

body {
  padding-bottom: 300px;
  padding-top: 60px;
}
.heading {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 231, 111);
  display: flex;
  flex-direction: row;
  height: 50px;
  border: none;
  justify-content: space-between;
  top: 0;
  z-index: 100;
}
.text {
  font-size: 18px;
  font-weight: 600;
  color: rgb(60, 16, 16);
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: pixelify sans;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.text:hover {
  background-color: rgba(255, 213, 0, 0.255);
  color: rgb(185, 50, 50);
}

#home {
  background-color: rgba(255, 213, 0, 0.255);
  color: rgb(185, 50, 50);
  box-sizing: border-box;
  border-bottom: 2px;
  border-color: rgb(185, 50, 50);
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.profile-image {
  width: 20px;
  border-radius: 10px;
  margin-top: 13px;
  margin-right: 30px;
  cursor: pointer;
}

.logo {
  width: 160px;
  cursor: pointer;
  padding-top: 0px;
  display: inline-block;
  padding-left: 15px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

#write {
  width: 100px;
}

.editor-container {
  width: 97.3%;
  display: flex;
  flex-direction: column;
  background-color: rgb(209, 167, 111);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  margin: 0 auto;
  justify-content: center;
}

.title-input {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  width: 300px;
  margin: 0 auto;
  align-items: center;
}

.story-textarea {
  margin-left: 10px;
  margin-right: 18px;
  margin-top: 10px;
  width: 100%;
  border: none;
  font-size: 15px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  background: #fff;
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  margin-left: 15px;
  font-size: 24px;
  font-family: pixelify sans;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  gap: 18px;
  align-items: center;
}

.submit {
  width: 80px;
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  color: #f2d5c0;
  background-color: rgb(97, 25, 25);
  font-family: pixelify sans;
  margin-top: 6px;
  margin-right: 8px;
  margin-bottom: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.save {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid rgb(97, 25, 25);
  color: rgb(97, 25, 25);
  font-family: pixelify sans;
  background-color: #f2d5c0;
  cursor: pointer;
  transition: all 0.2s;
}

.submit:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.255);
}

.save:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.255);
}

.contact {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 30px;
  font-family: pixelify sans;
  margin-left: 17px;
}

.yt,
.github,
.insta,
.linkedin,
.fb {
  margin-right: 10px;
  margin-left: 10px;
}

.links {
  margin-top: 20px;
  padding-bottom: 50px;
}

.yt {
  width: 32px;
}

.insta {
  width: 23px;
}

.github {
  width: 23px;
}

.linkedin {
  width: 25px;
}

.fb {
  width: 13px;
}

.contact,
.links {
  display: grid;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.links {
  margin-left: -20px;
}

.navigation {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  gap: 20px;
  font-size: 20px;
  color: blue;
}

.Previous:hover {
  color: rgb(0, 183, 255);
}
.Next:hover {
  color: rgb(0, 183, 255);
}
.right-arrow {
  width: 18px;
  padding-bottom: 19px;
  padding-left: 0px;
}

.home-logo {
  width: 35px;
  margin-left: 6px;
  padding-bottom: 15px;
}
