html,
body {
  height: 100%;
  width: 100%;

  margin: 0;
  background-color: rgba(255, 255, 134, 0.851);
}

body {
  padding-top: 60px;
  padding-bottom: 650px;
}

.heading {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 231, 111);
  display: flex;
  flex-direction: row;
  height: 50px;
  border: none;
  justify-content: space-between;
  top: 0;
  z-index: 100;
}
.text {
  font-size: 18px;
  font-weight: 600;
  color: rgb(60, 16, 16);
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: pixelify sans;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.text:hover {
  background-color: rgba(255, 213, 0, 0.255);
  color: rgb(185, 50, 50);
}

#home {
  background-color: rgba(255, 213, 0, 0.255);
  color: rgb(185, 50, 50);
  box-sizing: border-box;
  border-bottom: 2px;
  border-color: rgb(185, 50, 50);
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.profile-image {
  width: 20px;
  border-radius: 10px;
  margin-top: 13px;
  margin-right: 30px;
  cursor: pointer;
}

.logo {
  width: 160px;
  cursor: pointer;
  padding-top: 0px;
  display: inline-block;
  padding-left: 15px;
}
a {
  text-decoration: none;
  color: inherit;
}

.right-arrow {
  width: 18px;
  padding-bottom: 11px;
  padding-left: 0px;
}

.home-logo {
  width: 38px;
  margin-left: 10px;
  padding-bottom: 8px;
}

.perks {
  margin-left: 25px;
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 28px;
  font-family: pixelify sans;
}

.containers {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  gap: 30px;
}
.contain-box {
  padding: 30px;
  background-color: white;
  height: 160px;
  border-radius: 10px;
  background-color: rgba(253, 253, 237, 0.512);
  box-sizing: border-box;
  border: 1.5px solid rgb(255, 204, 0);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 8px rgba(255, 221, 0, 0.63);
  font-size: 15px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  justify-content: center;
  gap: 30px;
  transition: all 0.5s;
}

.contain-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(255, 221, 0, 0.562);
}

.thunder {
  position: absolute;
  right: 40px;
  margin-bottom: 20px;
}

.xp {
  width: 16px;
}

.xp-count {
  font-size: 25px;
  font-family: pixelify sans;
  margin-left: 4px;
  position: absolute;
  top: -4px;
}

.read {
  font-size: 20px;
  font-family: pixelify sans;
}

svg {
  display: flex;
}
.progress-container {
  width: 94%;
  max-width: 600px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}

.progress-bar {
  width: 100%;
  height: 25px;
}

.progress-text {
  text-align: right;
  display: flex;
  font-family: pixelify sans;
  font-size: 18px;
  justify-content: right;
}
@media (min-width: 768px) {
  /* Switches to 2 columns on tablets */
  .containers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .containers {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cotd,
.cotw,
.coty {
  width: 270px;
  display: flex;
  margin: 0 auto;
  border-radius: 135px;
  transition: all 0.5s;
}

.cotd:hover {
  transform: translateY(-4px);
}

.cotw:hover {
  transform: translateY(-4px);
}

.coty:hover {
  transform: translateY(-4px);
}

.badge {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: pixelify sans;
}

.contact {
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 30px;
  font-family: pixelify sans;
  margin-left: 17px;
}

.yt,
.github,
.insta,
.linkedin,
.fb {
  margin-right: 10px;
  margin-left: 10px;
}

.links {
  margin-top: 20px;
  padding-bottom: 50px;
}

.yt {
  width: 32px;
}

.insta {
  width: 23px;
}

.github {
  width: 23px;
}

.linkedin {
  width: 25px;
}

.fb {
  width: 13px;
}

.contact,
.links {
  display: grid;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.links {
  margin-left: -20px;
}

.navigation {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  gap: 20px;
  font-size: 20px;
  color: blue;
}

.Previous:hover {
  color: rgb(0, 183, 255);
}
