html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgba(255, 255, 134, 0.851);
}
body {
  padding-bottom: 350px;
}

.heading {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 231, 111);
  display: flex;
  flex-direction: row;
  height: 50px;
  border: none;
  justify-content: space-between;
  top: 0;
  z-index: 100;
}
main {
  padding-top: 50px;
}

.text {
  font-size: 18px;
  font-weight: 600;
  color: rgb(60, 16, 16);
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: pixelify sans;
  cursor: pointer;
  transition: color 0.5s;
}

a {
  text-decoration: none;
  color: inherit;
}

.text:hover {
  color: rgb(185, 50, 50);
  background-color: rgb(252, 225, 91);
}

.profile-image {
  width: 20px;
  border-radius: 10px;
  margin-top: 13px;
  margin-right: 30px;
  cursor: pointer;
}

.welcome {
  display: flex;
  justify-content: center;
  margin-right: 15px;
  font-family: pixelify sans;
  font-size: 50px;
  margin-bottom: 0px;
  margin-left: 18px;
  color: rgb(82, 20, 20);
  animation: fadein 0.5s ease-in forwards;
}

.title,
.motto,
.submit,
.login,
.contact,
.links {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.writoholic {
  width: 370px;
  height: 110px;
  margin-right: 10px;
  margin-left: 18px;
  animation: fadein 0.8s ease-in forwards;
  max-width: 356px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.motto {
  color: brown;
}

.motto-text {
  font-family: pixelify sans;
  font-size: 20px;
  padding: 0;
  animation: fadein 0.9s ease-in forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

span {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  color: rgb(139, 6, 6);
}

.cursor {
  font-weight: 700;
  height: 1.2em;
  margin-left: 5px;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgb(139, 6, 6);
  }
}

.submit-text {
  font-family: pixelify sans;
}

#typewriter-text {
  padding-left: 10px;
  font-family: monospace;
}

.submit {
  padding-top: 15px;
  font-size: 18px;
}

.box {
  background-color: rgba(250, 249, 190, 0.512);
  width: 305px;
  height: 320px;
  margin-top: 15px;
  border-radius: 20px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(155, 74, 74);
  transform: box-shadow 0.7s;
}

.box:hover {
  box-shadow: 1px 1px 4px rgba(155, 74, 74, 0.4),
    -1px -1px 4px rgba(155, 74, 74, 0.4);
}

.box-head {
  padding-top: 10px;
  margin-left: 120px;
  font-family: pixelify sans;
  font-size: 25px;
  color: rgb(82, 20, 20);
}
.email {
  padding-left: 20px;
  display: block;
  padding-top: 20px;
}

.username {
  font-family: pixelify sans;
  display: block;
  color: brown;
}

#entry {
  width: 250px;
  margin-top: 6px;
  height: 22px;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 6px;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.304);
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#rememberme {
  margin-left: 20px;
  margin-top: 10px;
}

.remember {
  font-size: 15px;
  font-family: Pixelify sans;
  color: brown;
}

.forget {
  font-size: 13px;
  margin-left: 23px;
  font-family: Pixelify sans;
  color: brown;
  text-decoration: underline solid 1.3px;
  cursor: pointer;
}

button {
  margin-left: 100px;
  margin-top: 18px;
  width: 100px;
  height: 33px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  background-color: rgb(90, 90, 255);
  color: white;
  font-weight: 700;
  transition: background-color 0.5s, color 0.5s;
}

button:hover {
  background-color: white;
  color: rgb(90, 90, 255);
  border: solid 1px;
  font-weight: 700;
}

.signup {
  padding-left: 40px;
  padding-top: 15px;
  font-family: pixelify sans;
  font-size: 14px;
}

.sign {
  color: blue;
  font-family: pixelify sans;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  margin-left: 5px;
}

.explore {
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 10px;
  display: inline-block;
  color: rgb(84, 24, 24);
  font-family: pixelify sans;
  font-size: 30px;
}
.containers {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  gap: 30px;
}

@media (min-width: 768px) {
  /* Switches to 2 columns on tablets */
  .containers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .containers {
    grid-template-columns: repeat(4, 1fr);
  }
}

.contain-box {
  padding: 20px;
  background-color: white;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(253, 253, 237, 0.512);
  box-sizing: border-box;
  border: 1.5px solid rgb(255, 204, 0);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 8px rgba(255, 221, 0, 0.63);
  font-size: 15px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  justify-content: center;
}

.contain-box:hover {
  transform: translateY(-5px);
  filter: brightness(1.1);
  box-shadow: 0 3px 10px rgba(255, 221, 0, 0.67);
}

.arrow {
  width: 18px;
  margin-left: 6px;
}

.check {
  width: 50px;
  height: 38px;

  border-radius: 100px;
  margin-left: 500px;
  background-color: rgb(84, 24, 24);
  color: rgb(253, 253, 165);
}

.check:hover {
  color: rgb(84, 24, 24);
  background-color: rgb(253, 253, 165);
}

h3 {
  font-family: pixelify sans;
  font-size: 20px;
  margin-top: 0px;
}

.inspire {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

.contact {
  padding-top: 40px;
  font-size: 30px;
  font-family: pixelify sans;
  margin-left: 17px;
}

.yt,
.github,
.insta,
.linkedin,
.fb {
  margin-right: 10px;
  margin-left: 10px;
}

.links {
  margin-top: 20px;
  padding-bottom: 50px;
}

.yt {
  width: 32px;
}

.insta {
  width: 23px;
}

.github {
  width: 23px;
}

.linkedin {
  width: 25px;
}

.fb {
  width: 13px;
}
